<div class="container">
  <h2 style="color: white;">En vejledning til hvordan du bruger vores bot</h2>
  <p>
    <a href="https://github.com/LilBoWeep/praktikshit">Link</a> til vores GitHub
    for botten.
  </p>

  <h3></h3>
  <p>
    Efter du har downloadet programmet, startet det og har skrevet dine Discord
    tokens ind for bot kontoerne. <br />
    Du kan skrive ";help" til en af kontoerne og få en liste af kommandoer du
    kan bruge.
  </p>

  <p style="font-weight: bold;">
    Hvis du gerne vil gemme beskeder skal du bruge en Microsoft SQL Database.
  </p>

  <h3 style="color: white;">Kommandoer du kan bruge til botten.</h3>
  <p>;help - liste af kommandoer som kan bruges</p>
  <p>;purge - deletes messages sletter brugerens beskeder i et given antal.</p>
  <p>;wc - wordcount tæller hvor mange ord der findes af det given ord.</p>
  <p>;cf - clear friends fjerner alle dine venner</p>
  <p>;ef - export friends eksportere venner</p>
  <p>;if - import friends importere venner</p>
  <p>;es - EmojiScrape tager alle emojis fra en given server.</p>
  <p>;shibe - shibe sender et billede af en shibe.</p>
  <p>
    ;vce - Voice Channel Exploit gør at du kan joine et opkald og afspille lyd
    selvom der står din mikrofon ikke er slået til.
  </p>
  <p>;ban - Ban banner en given ID fra serveren.</p>
  <p>;kick - Kick fjerner en given ID fra serveren.</p>
</div>
