<div class="container">
  <h2 style="color: white;">En vejledning til hvordan du bruger vores bot</h2>
  <p>
    <a href="https://github.com/LilBoWeep/praktikshit">Link</a> til vores GitHub
    for botten.
  </p>

  <h3></h3>
  <p>
    Efter du har downloadet programmet, startet det og har skrevet dine Discord
    tokens ind for bot kontoerne. <br />
    Kan du skrive ";help" til en af kontoerne og få en liste af kommandoer du
    kan bruge.
  </p>

  <p style="font-weight: bold;">
    Hvis du gerne vil gemme beskeder skal du bruge en Microsoft SQL Database.
  </p>

  <h3 style="color: white;">Kommandoer du kan bruge til botten.</h3>
  <p>;help -</p>
  <p>;purge</p>
  <p>;dl</p>
  <p>;wordcount</p>
  <p>;cf</p>
  <p>;ef</p>
  <p>;if</p>
  <p>;es - EmojiScrape</p>
  <p>;shibe - Sibe sender et billede af en shibe.</p>
  <p>;vce</p>
  <p>;vce</p>
  <p>;vce</p>
  <p>;vce</p>
</div>
