<form action="action_page.php" method="post">
  <div class="imgcontainer"></div>

  <div class="container">
    <label style="color: white;" for="uname"><b>Brugernavn</b></label>
    <input type="text" placeholder="Skriv Brugernavn" name="uname" required />

    <label style="color: white;" for="psw"><b>Kode</b></label>
    <input type="password" placeholder="Skriv Kode" name="psw" required />

    <span class="psw"><a href="#">Glemt adgangskode?</a></span>

    <button style="margin-top: 40px" type="submit">Login</button>
    <label style="color: white;">
      <input
        style="margin-top: 20px;"
        type="checkbox"
        checked="checked"
        name="remember"
      />
      Husk mig
    </label>
  </div>
</form>
