<link
  rel="stylesheet"
  type="text/css"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
/>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>følg os</h4>
        <div class="social-links">
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://discord.gg" target="_blank"><i class="fab fa-discord"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>

