<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <h1>
      <a class="navbar-brand" href="/">{{ name }}</a>
    </h1>

    <div class="Wrapper_Threeline_Dropdown">
      <a href="#" class="nav">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </a>
      <div class="dropdown-content">
        <a href="https://discord.gg" target="_blank">Kontakt Os</a>
        <a [routerLink]="['/login']">Login</a>
        <a [routerLink]="['/register']">Registrer</a>
        <a [routerLink]="['/tutorial']">Vejledning</a>
        <a [routerLink]="['/aboutus']">Om Os</a>
      </div>
    </div>
  </div>
</nav>
