<form action="action_page.php" method="post">
  <div class="imgcontainer"></div>

  <div class="container">
    <label style="color: white;" for="email"><b>Email</b></label>
    <input type="text" placeholder="Skriv Email" name="email" required />

    <label style="color: white;" for="uname"><b>Brugernavn</b></label>
    <input type="text" placeholder="Skriv Brugernavn" name="uname" required />

    <label style="color: white;" for="psw"><b>Kode</b></label>
    <input type="password" placeholder="Skriv Kode" name="psw" required />

    <button style="margin-top: 40px" type="submit">Registrer</button>
  </div>
</form>
